alabaster==0.7.12
alpaca-trade-api==0.51.0
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
aplus==0.11.0
appdirs==1.4.4
argh==0.26.2
asn1crypto==1.3.0
astroid==2.3.3
astropy==4.0
atomicwrites==1.3.0
attrs==20.3.0
automat==20.2.0
autopep8==1.4.4
babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.3
bitarray==1.2.1
bkcharts==0.2
black==20.8b1
bleach==3.1.0
blessings==1.7
blis==0.7.4
bokeh==1.4.0
boto3==1.15.17
boto==2.49.0
botocore==1.18.17
bottleneck==1.3.2
bqplot==0.12.18
branca==0.4.1
bs4==0.0.1
cachecontrol==0.12.6
cached-property==1.5.2
cachetools==4.1.1
cachy==0.3.0
catalogue==2.0.1
certifi==2020.11.8
cffi==1.14.0
chardet==3.0.4
cleo==0.8.1
click==7.1.2
clickclick==20.10.2
clikit==0.6.2
cloudpickle==1.3.0
clyent==1.2.2
cmdstanpy==0.9.5
colorama==0.4.3
conda-build==3.18.11
conda-package-handling==1.6.0
conda-verify==3.4.2
conda==4.9.2
configparser==5.0.1
connexion==2.7.0
constantly==15.1.0
contextlib2==0.6.0.post1
convertdate==2.2.2
crashtest==0.3.1
cryptography==2.8
cssselect==1.1.0
cupy==8.3.0
cycler==0.10.0
cymem==2.0.5
cython==0.29.15
cytoolz==0.10.1
dask==2.11.0
data-mongler-local==0.1.0
data-mongler==0.1.1
datasets==1.1.2
de-core-news-lg==3.0.0
de-core-news-sm==3.0.0
decorator==4.4.1
defusedxml==0.6.0
diff-match-patch==20181111
dill==0.3.3
diskcache==4.1.0
distlib==0.3.1
distributed==2.11.0
dnspython==1.16.0
docker-pycreds==0.4.0
docutils==0.16
dropblock==0.3.0
en-core-web-sm==3.0.0
entrypoints==0.3
ephem==3.7.7.1
et-xmlfile==1.0.1
fake-useragent==0.1.11
fastcache==1.1.0
fastrlock==0.5
fbprophet==0.7.1
filelock==3.0.12
flake8==3.7.9
flask==1.1.1
fsspec==0.6.2
future==0.18.2
gevent==1.4.0
gitdb==4.0.5
gitpython==3.1.12
glob2==0.7
gmpy2==2.0.8
greenlet==0.4.15
grpcio-tools==1.32.0
grpcio==1.32.0
guppy3==3.1.0
gyp==0.1
h5py==3.1.0
heapdict==1.0.1
holidays==0.10.3
html5lib==1.0.1
hyperlink==20.0.1
hypothesis==5.5.4
idna==2.10
imageio==2.6.1
imagesize==1.2.0
importlib-metadata==2.0.0
incremental==17.5.0
inflection==0.5.1
intervaltree==3.0.2
ipydatawidgets==4.1.0
ipykernel==5.1.4
ipyleaflet==0.13.3
ipympl==0.5.8
ipython-genutils==0.2.0
ipython==7.18.1
ipyvolume==0.5.2
ipyvue==1.4.0
ipyvuetify==1.5.1
ipywebrtc==0.5.0
ipywidgets==7.5.1
isort==4.3.21
itemadapter==0.1.1
itemloaders==1.0.3
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.14.1
jeepney==0.4.2
jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
json5==0.9.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyter==1.0.0
jupyterlab-server==1.0.6
jupyterlab==1.2.6
kaggle==1.5.10
keyring==21.4.0
kiwisolver==1.1.0
korean-lunar-calendar==0.2.1
lazy-object-proxy==1.4.3
libarchive-c==2.8
lief==0.9.0
lightgbm==3.1.1
llvmlite==0.31.0
locket==0.2.0
lockfile==0.12.2
lunarcalendar==0.0.9
lxml==4.5.0
markupsafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mem-top==0.1.6
memoization==0.3.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlp==0.0.0
mock==4.0.1
mongodbproxy==0.1.0
more-itertools==8.2.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
multiprocess==0.70.11.1
murmurhash==1.0.5
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.4
nest-asyncio==1.4.1
networkx==2.4
nltk==3.4.5
nnsplit==0.5.2.post0
nose==1.3.7
notebook==6.0.3
numba==0.48.0
numexpr==2.7.1
numpy==1.20.0
numpydoc==0.9.2
olefile==0.46
onnxruntime-gpu==1.4.0
onnxruntime==1.6.0
openapi-spec-validator==0.2.9
openfst-python==1.7.3
openpyxl==3.0.3
opensubtitles-dataloader==0.1.4
packaging==20.4
pandas-market-calendars==1.6.0
pandas==1.0.5
pandocfilters==1.4.2
parse==1.18.0
parsel==1.6.0
parso==0.5.2
partd==1.1.0
pastel==0.2.1
path==13.1.0
pathlib2==2.3.5
pathspec==0.8.0
pathtools==0.1.2
pathy==0.4.0
patsy==0.5.1
pep8==1.7.1
permon==2.0.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.0.0
pip==20.0.2
pkginfo==1.5.0.1
plotly==4.11.0
pluggy==0.13.1
ply==3.11
poetry-core==1.0.0
poetry==1.1.2
preshed==3.0.5
progressbar2==3.53.1
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.3
protego==0.1.16
protobuf==3.14.0
psutil==5.6.7
ptyprocess==0.6.0
py==1.8.1
pyarrow==1.0.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.5
pydantic==1.7.3
pydispatcher==2.0.5
pydocstyle==4.0.1
pyee==7.0.4
pyflakes==2.1.1
pygments==2.5.2
pyhamcrest==2.0.2
pyinstrument-cext==0.2.4
pyinstrument==3.4.1
pylev==1.3.0
pylint==2.4.4
pymeeus==0.3.7
pymongo==3.10.1
pympler==0.9
pyodbc==4.0.0-unsupported
pyopenssl==19.1.0
pyparsing==2.4.6
pyppeteer==0.2.2
pyquery==1.4.1
pyrsistent==0.17.3
pysocks==1.7.1
pystan==2.19.1.1
pytest-arraydiff==0.3
pytest-astropy-header==0.1.2
pytest-astropy==0.8.0
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
pytest==5.3.5
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
python-slugify==4.0.1
python-utils==2.4.0
pythreejs==2.2.1
pytz==2020.1
pywavelets==1.1.1
pyxdg==0.26
pyyaml==5.3
pyzmq==18.1.1
qdarkstyle==2.8
qtawesome==0.6.1
qtconsole==4.6.0
qtpy==1.9.0
queuelib==1.5.0
regex==2020.9.27
requests-html==0.10.0
requests-toolbelt==0.9.1
requests==2.25.0
retrying==1.3.3
rope==0.16.0
rtree==0.9.3
ruamel-yaml==0.15.87
s3fs==0.2.2
s3transfer==0.3.3
sacremoses==0.0.43
scikit-image==0.16.2
scikit-learn==0.23.2
scipy==1.4.1
scrapy==2.3.0
seaborn==0.10.0
secretstorage==3.1.2
send2trash==1.5.0
sentence-transformers==0.4.1.2
sentencepiece==0.1.95
sentry-sdk==0.19.5
service-identity==18.1.0
setuptools-git==1.2
setuptools==45.2.0.post20200210
shellingham==1.3.2
shortuuid==1.0.1
simple-back==0.6.3
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
sleuth-schemas==0.0.1
smart-open==3.0.0
smmap==3.0.5
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.5
spacy-legacy==3.0.1
spacy==3.0.3
sphinx==2.4.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.2.0
spyder-kernels==1.8.1
spyder==4.0.1
sqlalchemy==1.3.13
srsly==2.4.0
statsmodels==0.11.0
subprocess32==3.5.4
swagger-parser==1.0.1
swagger-spec-validator==2.7.3
swagger-tester==0.1.0
sympy==1.5.1
tables==3.6.1
tabulate==0.8.7
tblib==1.6.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
thinc==8.0.1
threadpoolctl==2.1.0
tokenizers==0.9.4
toml==0.10.1
tomlkit==0.7.0
toolz==0.10.0
torch==1.6.0
tornado==6.0.3
tqdm==4.56.0
trading-calendars==1.11.11
traitlets==4.3.3
traittypes==0.2.1
transformers==4.2.2
twisted==20.3.0
typed-ast==1.4.1
typer==0.3.2
typing-extensions==3.7.4.3
ujson==1.35
unicodecsv==0.14.1
unidecode==1.1.1
urllib3==1.26.2
vaex-arrow==0.5.1
vaex-astro==0.7.0
vaex-core==2.0.3
vaex-hdf5==0.6.0
vaex-jupyter==0.5.2
vaex-ml==0.9.0
vaex-server==0.3.1
vaex-viz==0.4.0
vaex==3.0.0
virtualenv==20.0.33
w3lib==1.22.0
wandb==0.10.15
wasabi==0.8.2
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
werkzeug==1.0.1
wheel==0.34.2
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==2.0.0
xarray==0.16.1
xgboost==1.2.1
xlrd==1.2.0
xlsxwriter==1.2.7
xlwt==1.3.0
xmltodict==0.12.0
xxhash==2.0.0
yahoo-fin==0.8.6
yapf==0.28.0
zict==1.0.0
zipp==3.4.0
zope.interface==5.1.2